body {
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

main {
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}

main>div>h3 {
  border-bottom: 3px solid black;
  display: inline-block;
}

.imgsList {
  display: flex;
  gap: 140px;
  justify-content: center;
}

.imgsList>img {
  width: 345px;
  height: 461px;
  padding: 0%;
  margin: 0%;
  transition: 0.3s ease;
}

.imgsList>img:hover {
  transform: scale(1.02);
}

.zadacha {
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 1px solid black;
  padding: 10px 10px;
  border-radius: 10px 10px 20px 20px;
}

.imgsListResults {
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 1px solid black;
  padding: 20px 10px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

}

.imgsListResults>img {
  width: 30%;
  padding: 0%;
  margin: 0%;
  object-fit: cover;
  transition: 0.3s ease;
}

.imgsListResults>img:hover {
  transform: scale(1.02);
}

header>div>img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: ". . . a b c . . .";
  align-items: center;
  transition: 0.3s ease;
  text-align: center;
}

header>a:hover {
  transform: scale(1.05);
}

header>a:hover {
  transform: scale(1.05);
}

header>div>a:hover {
  transform: scale(1.05);
}

header>div>img:hover {
  transform: scale(1.05);
}

header>a:nth-child(2) {
  grid-area: a;
  width: 100%;
  text-decoration: none;
  color: black;
}

header>a:nth-child(3) {
  grid-area: b;
  width: 100%;
  text-decoration: none;
  color: black;
}

header>a:nth-child(4) {
  grid-area: c;
  width: 100%;
  text-decoration: none;
  color: black;
}

header>div {
  grid-column: 9 / 10;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: black;
}

header>img {
  grid-column: 1 / 2;
  padding: 5px;

}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 200px;
  margin: 50px 0;
  border-radius: 20px;
}

.card {

  display: flex;
  width: 95%;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  margin: 30px 0;
  gap: 20px;

}

.card>div>img {
  width: 33%;
}

.descriptionProject {
  width: 30%;
  background-color: rgb(204, 204, 204);
  border-radius: 20px;
  padding: 0px 50px;
}

.imgMain {
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
}

.card>div>p {
  font-size: 17px;
}

.card>div>p:nth-child(4) {
  color: gray;
}

.login {
  margin: auto;
  background-color: #d9d9d9;
  width: 320px;
  height: auto;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 600px;
}

.login>p {
  font-size: 16px;
}

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 10px;
}

.loginForm>input {
  margin: 10px 0;
  padding: 10px 5PX;
  border: none;
  font-size: 16px;
  border-radius: 10px;
}

.login>a {
  background-color: black;
  padding: 10px;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 16px;
  margin-top: 50px;
  width: 120px;
  border-radius: 15px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.category {
  display: flex;
  gap: 20px;
  transition: 0.2s ease;
}

.category>button {
  width: 100%;
  position: relative;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 0;
  opacity: 70%;
  transition: 0.3s;
}

.category>button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;

}

.category>button:hover::after {
  width: 100%;
}

.category>button:hover {
  transform: scale(1.03);
  opacity: 100%;
}


footer {
  padding: 0 15%;
  display: flex;
  height: 500px;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
}

footer div {
  width: 500px;
}

.statiaList {
  width: auto;
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.statias {
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px 30px 20px 30px;
  font-size: 20px;
}

.btn-end {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
}

.dalee:hover {
  transform: scale(1.1);
}

.dalee {
  background: black;
  color: white;
  border: none;
  border-radius: 20px 30px 20px 30px;
  width: 150px;
  height: 30px;
  margin: 10px;
  transition: 0.3s ease;

}

.samiComments {
  width: 100%;
  border-top: 1px solid black;
  text-align: center;
}

.comments>input {
  width: 1692px;
  height: 45px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 30px 20px 30px 20px;
  margin-bottom: 20px;
}

.comments>p {
  text-align: center;
}

@media (max-width:720px) {
  .imgsList {
    flex-direction: column;
    gap: 50px;
    justify-content: center;

  }

  .imgsList>img {
        width: 100%;  
      
    transition: 0.3s ease;
  }


  .osnovZadachi {
    width: 100%;
  }

  .gallary {
    width: 100%;
  }

  .statias {
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px 30px 20px 30px;
    font-size: 20px;
    width: 100%;
  }

  .comments>input {
    width: 100%;
    height: 45px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 30px 20px 30px 20px;
    margin-bottom: 20px;
  }

  .comments>p {
    text-align: center;
  }
}